.appearButtonShadow, #addButtonNameConsole, #editButtonNameConsole
	position: fixed
.appearButtonShadow
	background-color: #000
	width: 100%
	height: 100%
	z-index: 2
	+opc(70)
#addButtonNameText,#editButtonNameText
	color: #fff
	margin-bottom: 10px
#addButtonNameConsole,#editButtonNameConsole
	z-index: 3
	top: 0
	padding: 180px 40px
	// top: 50%
	// left: 50%
	// margin-left: -120px
	// margin-top: -280px
	#contents &
		+box-shadow(transparent 0 0 0)
		border-left: none