button
	&.remoteControllers
		background-color: #FFF
		+background-image(linear-gradient(to bottom, white, #f9f9f9))
		color: $baseC_W
		display: block
		line-height: 1
		height: 100%
		padding: 20px
		text-align: left
		font-size: 12px
		&.addButton
			background-color: $weakC
			color: $weakC_S
	.initialize &
		background-color: $baseC
		color: #fff
		+border-radius(3px)
a.button
	display: block
	text-decoration: none
	padding: 10px
	text-align: center
	background-color: $baseC
	color: #fff
.initialize button, button.button, a.button
	background-color: $baseC
	color: #fff
	margin-top: 20px
	+border-radius(3px)
	&:focus, &:hover
		background-color: $mainC
		outline: none
		+anim($anim * 2)
		+keyFramesAttr(MaxToMin,$anim * 2,1)
ul.buttonList
	li
		// position: relative
		z-index: 1
		button
			z-index: 10
			position: relative
.subButton
	position: absolute
	top: 0
	z-index: 1
	width: 52px
	height: 100%
	background-color: #aaa
	+icoMoon("\e6fd")
	&:after
		font-size: 14px
		margin-top: 20px
		color: #fff
	&.active
		&.delete
			background-color: #d30
		&.edit
			background-color: #9c6
		&.sortUp
			background-color: #55C3B8
		&.sortDown
			background-color: #55C3B8
	&.delete
		right: 52px
		&:after
			content: "\e6fd"
	&.edit
		right: 0
		&:after
			content: "\e605"
	&.sortUp
		left: 0
		&:after
			content: "\e720"
	&.sortDown
		left: 52px
		&:after
			content: "\e724"
.checkmark
	position: absolute
	z-index: 11
	top: 16px
	right: 20px
	+icoMoon("\e8cb")
	&:after
		font-size: 18px
		color: #aaa
		+experimental(animation-timing-function, swing)
		+keyFramesAttr(rotate, 6.0s, infinite)
	&.active
		&:after
			content: "\e6fe"
			+rotate(0deg)
			+keyFramesAttr(stop, 1s, 1)
			color: #55C3B8

