%section{:id => "addButtonNameConsole"}
	%p{:id => "addButtonNameText"}<
		IRKitに向けて赤外線信号を送ってから、作成するボタンの名前を入力して下さい。
	%input{:type => "text", :id => "addButtonNameBody", :placeholder => "ボタンの名前を入力"}/
	%button{:type => "button", :id => "addButtonName", :class => "button"} 決定