%section{:id => "addButtonNameConsole"}
	%p{:id => "addButtonNameText"}<
		作成するボタンの名前を入力して「決定」を押してから、IRKitに向けて赤外線信号を送って下さい。
	%input{:type => "text", :id => "addButtonNameBody", :placeholder => "ボタンの名前を入力"}/
	%button{:type => "button", :id => "addButtonName", :class => "button"} 決定