%section{:id => "editButtonNameConsole"}
	%p{:id => "editButtonNameText"}<
		ボタンの名前を入力して「決定」を押して下さい。
	%input{:type => "text", :id => "editButtonNameBody", :placeholder => "ボタンの名前を入力"}/
	%button{:type => "button", :id => "editButtonName", :class => "button"} 決定