%section#history
	%dl
		%dt 2014.9.21
		%dd ボタン編集機能の起動方法をボタンをホールドに変更<br>
	%dl
		%dt 2014.9.6
		%dd IRKitに複数のデバイスを追加可能に
	%dl
		%dt 2014.9.3
		%dd 赤外線送信時のアニメーションを追加
	%dl
		%dt 2014.9.3
		%dd ボタンを縦にスワイプで連続送信機能を実装（試験中）
	%dl
		%dt 2014.9.3
		%dd ボタンをホールドで連続送信機能を実装（試験中）
	%dl
		%dt 2014.8.31
		%dd 公開