%section.initialize
	%p<
		メールに記載されていたリンクをクリックして、リンク先に表示された"apikey"を入力して下さい。	
	%input{:type => "text", :id => "getClientKeyBody", :placeholder=>"apikeyを入力して下さい"}/
	%button{:type => "button", :id => "getClientKey"} 決定		