%section.initialize
	%p<
		IRKitjsへようこそ！<br>
		メールアドレスを入力して下さい。			
	%input{:type => "email", :id => "getAppsKeyBody", :placeholder=>"メールアドレスを入力して下さい"}/
	%button{:type => "button", :id => "getAppsKey"} メールを送信する	