%section.initialize
	%p<
		clientkey,devicekey,deviceidを入力して下さい。
	%input{:type => "text", :id => "addDeviceTextArea_clientkey", :placeholder=>"clientkeyを入力して下さい。"}/
	%input{:type => "text", :id => "addDeviceTextArea_devicekey", :placeholder=>"devicekeyを入力して下さい。"}/
	%input{:type => "text", :id => "addDeviceTextArea_deviceid", :placeholder=>"deviceidを入力して下さい。"}/
	%button{:type => "button", :id => "addDeviceInputButton"} 決定			