%section.initialize
	%p<
		お使いの端末にIRKitをWi-Fiルータとして接続して下さい。
	%button{:type => "button", :id => "wifiSetting"} 次へ進む
	/ %a{:href => "javascript:void(0);", :class => "button" , :id => "wifiSetting"} 次へ進む