%section
	%ul.list
		-# %li<
		-# 	%a{:href => "tutorial.html"} チュートリアル
		-# %li<
		-# 	%a{:href => "faq.html"} よくある質問
		%li<
			%a{:class => "outerLink" , :href => "https://github.com/kogai/irkit-js" , :target => "_blank"} ソースコード
		%li<
			%a{:class => "outerLink" , :href => "https://twitter.com/iamchawan" , :target => "_blank"} 開発者
		%li<
			%a{:href => "add_device.html"} デバイスを追加する	
		%li<
			%a{:href => "javascript:void(0);", :class => "clear"} 全てのデータを初期化	